/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
  font-family: 'customFont';
  src: url('../assets/fonts/ComfyFeeling.otf');
}

:root {
  --ion-font-family: 'customFont';
  --tile-width: 12vw;
  --tile-max-width: 60px;
  --tile-height: 16vw;
  --tile-max-height: 80px;
  --tile-border-color: #691f1f;
  --game-boards-color: #bcdace;
}
