.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tile-row,
.abilities {
  background-color: brown;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.tile {
  --border-radius: 0;
  margin: 0;
  background-color: blue;
  width: var(--tile-width);
  max-width: var(--tile-max-width);
  height: var(--tile-height);
  max-height: var(--tile-max-height);
}

.ability-button {
  background-color: blue;
  width: calc(var(--tile-width) * 2.5);
  max-width: calc(var(--tile-max-width) * 2.5);
  height: var(--tile-height);
  max-height: var(--tile-max-height);
}
