.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.back-button {
  font-size: 1rem;
}

.level-header {
  font-size: 1.8rem;
  margin-top: -10px;
  margin-bottom: -20px;
}

.pointer-disabled * {
  pointer-events: none !important;
}

.tile {
  margin: 0;
  width: var(--tile-width);
  max-width: var(--tile-max-width);
  height: var(--tile-height);
  max-height: var(--tile-max-height);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  --padding-start: 0;
  --padding-end: 0;
}

.game-content .padded-border {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid var(--tile-border-color);
  margin: 1px;
}

.game-content > ion-button {
  align-self: flex-start;
  filter: brightness(95%);
}

.game-content > ion-button .padded-border {
  border-width: 2px;
  padding: 5px;
}

.confetti {
  position: fixed;
  top: 50vh;
  left: 50vw;
}

.alert-wrapper {
  border-radius: 30px !important;
  background: white !important;
}

.alert-title {
  color: var(--tile-border-color) !important;
}
