.hand-tiles-row {
  background-color: var(--game-boards-color);
  display: flex;
  gap: 4px;
  justify-content: start;
  align-items: center;
  padding: 4px;
  width: calc(var(--tile-width) * 7 + 32px);
  max-width: calc(var(--tile-max-width) * 7 + 32px);
  height: calc(var(--tile-height) + 8px);
  max-height: calc(var(--tile-max-height) + 8px);
  border-radius: 6px;
  box-shadow: inset 0 0 10px -0px #0007;
}

.hand-tiles-row .tile {
  background-color: white;
  border-radius: 4px;
  opacity: 0;
}
